<a href="https://colab.research.google.com/github/mkoshors/Statistics-Mathematics-for-Data-Science-in-Python/blob/main/Section2Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# necessary imports
import pandas as pd

In [2]:
url = "https://www.basketball-reference.com/leagues/NBA_2020.html"

In [4]:
df = pd.read_html(url, header = 0)

In [5]:
type(df)

list

In [6]:
df

[     Eastern Conference   W   L   W/L%    GB   PS/G   PA/G   SRS
 0      Milwaukee Bucks*  56  17  0.767     —  118.7  108.6  9.41
 1      Toronto Raptors*  53  19  0.736   2.5  112.8  106.5  5.97
 2       Boston Celtics*  48  24  0.667   7.5  113.7  107.3  5.83
 3       Indiana Pacers*  45  28  0.616  11.0  109.4  107.5  1.63
 4           Miami Heat*  44  29  0.603  12.0  112.0  109.1  2.59
 5   Philadelphia 76ers*  43  30  0.589  13.0  110.7  108.4  2.25
 6        Brooklyn Nets*  35  37  0.486  20.5  111.8  112.3 -1.01
 7        Orlando Magic*  33  40  0.452  23.0  107.3  108.3 -0.93
 8     Charlotte Hornets  23  42  0.354  29.0  102.9  109.6 -7.03
 9    Washington Wizards  25  47  0.347  30.5  114.4  119.1 -5.24
 10        Chicago Bulls  22  43  0.338  30.0  106.8  109.9 -4.00
 11      New York Knicks  21  45  0.318  31.5  105.8  112.3 -6.72
 12      Detroit Pistons  20  46  0.303  32.5  107.2  110.8 -4.38
 13        Atlanta Hawks  20  47  0.299  33.0  111.8  119.7 -7.71
 14  Cleveland Cavaliers  19  46  0.292  33.0  106.9  114.8 -7.77,
          Western Conference   W   L   W/L%    GB   PS/G   PA/G   SRS
 0       Los Angeles Lakers*  52  19  0.732     —  113.4  107.6  6.28
 1     Los Angeles Clippers*  49  23  0.681   3.5  116.3  109.9  6.66
 2           Denver Nuggets*  46  27  0.630   7.0  111.3  109.2  2.35
 3          Houston Rockets*  44  28  0.611   8.5  117.8  114.8  3.13
 4    Oklahoma City Thunder*  44  28  0.611   8.5  110.4  108.4  2.33
 5                Utah Jazz*  44  28  0.611   8.5  111.3  108.8  2.52
 6         Dallas Mavericks*  43  32  0.573  11.0  117.0  112.1  4.87
 7   Portland Trail Blazers*  35  39  0.473  18.5  115.0  116.1 -0.61
 8         Memphis Grizzlies  34  39  0.466  19.0  112.6  113.7 -0.91
 9              Phoenix Suns  34  39  0.466  19.0  113.6  113.4  0.56
 10        San Antonio Spurs  32  39  0.451  20.0  114.1  115.2 -0.65
 11         Sacramento Kings  31  41  0.431  21.5  110.1  112.1 -1.59
 12     New Orleans Pelicans  30  42  0.417  22.5  115.8  117.1 -0.55
 13   Minnesota Timberwolves  19  45  0.297  29.5  113.3  117.5 -4.02
 14    Golden State Warriors  15  50  0.231  34.0  106.3  115.0 -8.12,
      Eastern Conference                   W                   L  \
 0     Atlantic Division   Atlantic Division   Atlantic Division
 1      Toronto Raptors*                  53                  19
 2       Boston Celtics*                  48                  24
 3   Philadelphia 76ers*                  43                  30
 4        Brooklyn Nets*                  35                  37
 5       New York Knicks                  21                  45
 6      Central Division    Central Division    Central Division
 7      Milwaukee Bucks*                  56                  17
 8       Indiana Pacers*                  45                  28
 9         Chicago Bulls                  22                  43
 10      Detroit Pistons                  20                  46
 11  Cleveland Cavaliers                  19                  46
 12   Southeast Division  Southeast Division  Southeast Division
 13          Miami Heat*                  44                  29
 14       Orlando Magic*                  33                  40
 15    Charlotte Hornets                  23                  42
 16   Washington Wizards                  25                  47
 17        Atlanta Hawks                  20                  47

                   W/L%                  GB                PS/G  \
 0    Atlantic Division   Atlantic Division   Atlantic Division
 1                 .736                   —               112.8
 2                 .667                 5.0               113.7
 3                 .589                10.5               110.7
 4                 .486                18.0               111.8
 5                 .318                29.0               105.8
 6     Central Division    Central Division    Central Division
 7                 .767                   —               118.7
 8                 .616                11.0               109.4
 9                 .338                30.0               106.8
 10                .303                32.5               107.2
 11                .292                33.0               106.9
 12  Southeast Division  Southeast Division  Southeast Division
 13                .603                   —               112.0
 14                .452                11.0               107.3
 15                .354                17.0               102.9
 16                .347                18.5               114.4
 17                .299                21.0               111.8

                   PA/G                 SRS
 0    Atlantic Division   Atlantic Division
 1                106.5                5.97
 2                107.3                5.83
 3                108.4                2.25
 4                112.3               -1.01
 5                112.3               -6.72
 6     Central Division    Central Division
 7                108.6                9.41
 8                107.5                1.63
 9                109.9               -4.00
 10               110.8               -4.38
 11               114.8               -7.77
 12  Southeast Division  Southeast Division
 13               109.1                2.59
 14               108.3               -0.93
 15               109.6               -7.03
 16               119.1               -5.24
 17               119.7               -7.71  ,
          Western Conference                   W                   L  \
 0        Northwest Division  Northwest Division  Northwest Division
 1           Denver Nuggets*                  46                  27
 2    Oklahoma City Thunder*                  44                  28
 3                Utah Jazz*                  44                  28
 4   Portland Trail Blazers*                  35                  39
 5    Minnesota Timberwolves                  19                  45
 6          Pacific Division    Pacific Division    Pacific Division
 7       Los Angeles Lakers*                  52                  19
 8     Los Angeles Clippers*                  49                  23
 9              Phoenix Suns                  34                  39
 10         Sacramento Kings                  31                  41
 11    Golden State Warriors                  15                  50
 12       Southwest Division  Southwest Division  Southwest Division
 13         Houston Rockets*                  44                  28
 14        Dallas Mavericks*                  43                  32
 15        Memphis Grizzlies                  34                  39
 16        San Antonio Spurs                  32                  39
 17     New Orleans Pelicans                  30                  42

                   W/L%                  GB                PS/G  \
 0   Northwest Division  Northwest Division  Northwest Division
 1                 .630                   —               111.3
 2                 .611                 1.5               110.4
 3                 .611                 1.5               111.3
 4                 .473                11.5               115.0
 5                 .297                22.5               113.3
 6     Pacific Division    Pacific Division    Pacific Division
 7                 .732                   —               113.4
 8                 .681                 3.5               116.3
 9                 .466                19.0               113.6
 10                .431                21.5               110.1
 11                .231                34.0               106.3
 12  Southwest Division  Southwest Division  Southwest Division
 13                .611                   —               117.8
 14                .573                 2.5               117.0
 15                .466                10.5               112.6
 16                .451                11.5               114.1
 17                .417                14.0               115.8

                   PA/G                 SRS
 0   Northwest Division  Northwest Division
 1                109.2                2.35
 2                108.4                2.33
 3                108.8                2.52
 4                116.1               -0.61
 5                117.5               -4.02
 6     Pacific Division    Pacific Division
 7                107.6                6.28
 8                109.9                6.66
 9                113.4                0.56
 10               112.1               -1.59
 11               115.0               -8.12
 12  Southwest Division  Southwest Division
 13               114.8                3.13
 14               112.1                4.87
 15               113.7               -0.91
 16               115.2               -0.65
 17               117.1               -0.55  ,
       Rk                     Team   G     MP    FG   FGA    FG%    3P   3PA  \
 0    1.0         Milwaukee Bucks*  73  241.0  43.3  90.9  0.476  13.8  38.9
 1    2.0         Houston Rockets*  72  241.4  40.8  90.4  0.451  15.6  45.3
 2    3.0        Dallas Mavericks*  75  242.3  41.7  90.3  0.461  15.1  41.3
 3    4.0    Los Angeles Clippers*  72  241.4  41.6  89.2  0.466  12.4  33.5
 4    5.0     New Orleans Pelicans  72  242.1  42.6  91.6  0.465  13.6  36.9
 5    6.0  Portland Trail Blazers*  74  241.0  42.2  91.2  0.463  12.9  34.1
 6    7.0       Washington Wizards  72  241.0  41.5  90.9  0.457  12.0  32.6
 7    8.0        San Antonio Spurs  71  242.5  42.2  89.4  0.472  10.7  28.5
 8    9.0          Boston Celtics*  72  242.1  41.3  89.6  0.461  12.6  34.5
 9   10.0             Phoenix Suns  73  241.0  41.2  88.1  0.468  11.4  31.8
 10  11.0      Los Angeles Lakers*  71  240.7  42.3  88.3  0.480  11.0  31.6
 11  12.0   Minnesota Timberwolves  64  243.1  40.4  91.6  0.441  13.3  39.7
 12  13.0         Toronto Raptors*  72  241.4  40.2  87.9  0.458  13.8  37.0
 13  14.0        Memphis Grizzlies  73  240.7  42.5  90.9  0.468  10.9  31.5
 14  15.0              Miami Heat*  73  243.1  39.5  84.4  0.468  13.4  35.4
 15  16.0            Atlanta Hawks  67  243.0  40.6  90.6  0.449  12.0  36.1
 16  17.0           Brooklyn Nets*  72  242.8  40.4  90.3  0.448  13.1  38.1
 17  18.0          Denver Nuggets*  73  243.1  42.0  88.9  0.473  11.0  30.6
 18  19.0               Utah Jazz*  72  241.0  40.1  85.1  0.471  13.4  35.2
 19  20.0      Philadelphia 76ers*  73  241.0  41.1  87.9  0.468  11.6  31.6
 20  21.0   Oklahoma City Thunder*  72  242.1  40.0  85.5  0.468  10.7  30.2
 21  22.0         Sacramento Kings  72  242.4  40.9  88.4  0.462  12.7  34.9
 22  23.0          Indiana Pacers*  73  241.4  42.1  88.5  0.476  10.2  28.0
 23  24.0           Orlando Magic*  73  240.7  39.3  88.6  0.444  11.1  32.2
 24  25.0          Detroit Pistons  66  241.9  39.3  85.7  0.459  12.0  32.7
 25  26.0      Cleveland Cavaliers  65  241.9  40.3  87.9  0.458  11.2  31.8
 26  27.0            Chicago Bulls  65  241.2  39.6  88.6  0.447  12.2  35.1
 27  28.0    Golden State Warriors  65  241.9  38.6  88.2  0.438  10.4  31.3
 28  29.0          New York Knicks  66  241.9  40.0  89.3  0.447   9.6  28.4
 29  30.0        Charlotte Hornets  65  242.3  37.3  85.9  0.434  12.1  34.3
 30   NaN           League Average  71  241.8  40.9  88.8  0.460  12.2  34.1

       3P%  ...    FT%   ORB   DRB   TRB   AST   STL  BLK   TOV    PF    PTS
 0   0.355  ...  0.742   9.5  42.2  51.7  25.9   7.2  5.9  15.1  19.6  118.7
 1   0.345  ...  0.791   9.8  34.5  44.3  21.6   8.7  5.2  14.7  21.8  117.8
 2   0.367  ...  0.779  10.5  36.4  46.9  24.7   6.1  4.8  12.7  19.5  117.0
 3   0.371  ...  0.791  10.7  37.0  47.7  23.7   7.1  4.7  14.6  22.1  116.3
 4   0.370  ...  0.729  11.1  35.4  46.5  26.8   7.5  5.0  16.4  21.2  115.8
 5   0.377  ...  0.804  10.2  35.1  45.3  20.6   6.3  6.1  12.8  21.7  115.0
 6   0.368  ...  0.788  10.2  31.9  42.0  25.0   8.0  4.3  14.2  22.7  114.4
 7   0.376  ...  0.810   9.0  35.6  44.6  24.7   7.3  5.5  12.6  19.4  114.1
 8   0.364  ...  0.801  10.7  35.4  46.1  23.0   8.3  5.6  13.8  21.6  113.7
 9   0.358  ...  0.834   9.8  33.8  43.5  27.2   7.7  4.0  14.8  22.0  113.6
 10  0.349  ...  0.729  10.7  35.1  45.7  25.4   8.6  6.6  15.2  20.7  113.4
 11  0.336  ...  0.753  10.5  34.3  44.8  23.8   8.7  5.7  15.3  21.4  113.3
 12  0.374  ...  0.796   9.5  35.9  45.4  25.2   8.8  5.0  14.8  21.7  112.8
 13  0.347  ...  0.763  10.3  36.2  46.5  26.9   7.9  5.5  15.2  21.2  112.6
 14  0.379  ...  0.783   8.5  35.9  44.4  25.9   7.5  4.5  14.9  20.6  112.0
 15  0.333  ...  0.790   9.9  33.4  43.3  24.0   7.8  5.1  16.2  23.1  111.8
 16  0.343  ...  0.745  10.6  37.3  47.9  24.5   6.4  4.5  15.3  21.0  111.8
 17  0.359  ...  0.777  10.8  33.4  44.1  26.7   8.0  4.6  13.8  20.3  111.3
 18  0.380  ...  0.779   9.1  35.8  44.9  22.4   6.1  4.1  15.1  20.4  111.3
 19  0.368  ...  0.755  10.5  35.0  45.4  25.8   8.0  5.3  14.2  20.9  110.7
 20  0.355  ...  0.796   8.2  34.7  42.9  21.7   7.6  4.9  13.7  19.3  110.4
 21  0.364  ...  0.770   9.7  32.9  42.6  23.8   7.7  4.1  14.5  22.2  110.1
 22  0.363  ...  0.787   8.7  34.1  42.8  25.9   7.4  5.2  13.2  19.8  109.4
 23  0.343  ...  0.774  10.3  34.2  44.5  23.9   8.2  5.4  12.8  18.3  107.3
 24  0.367  ...  0.743   9.8  32.0  41.7  24.1   7.4  4.5  15.3  19.7  107.2
 25  0.351  ...  0.758  10.8  33.4  44.2  23.1   6.9  3.2  16.5  18.3  106.9
 26  0.348  ...  0.755  10.5  31.4  41.9  23.2  10.0  4.1  15.5  21.8  106.8
 27  0.334  ...  0.803  10.0  32.9  42.8  25.6   8.2  4.6  14.9  20.1  106.3
 28  0.337  ...  0.694  12.0  34.5  46.5  22.1   7.6  4.7  14.3  22.2  105.8
 29  0.352  ...  0.748  11.0  31.8  42.8  23.8   6.6  4.1  14.6  18.8  102.9
 30  0.358  ...  0.773  10.1  34.8  44.8  24.4   7.6  4.9  14.5  20.8  111.8

 [31 rows x 25 columns],
       Rk                     Team   G     MP    FG   FGA    FG%    3P   3PA  \
 0    1.0         Toronto Raptors*  72  241.4  37.8  88.3  0.428  13.1  38.9
 1    2.0          Boston Celtics*  72  242.1  38.4  87.1  0.441  11.8  34.8
 2    3.0          Indiana Pacers*  73  241.4  39.5  88.5  0.446  11.5  33.6
 3    4.0      Los Angeles Lakers*  71  240.7  39.1  87.1  0.448  11.6  33.4
 4    5.0           Orlando Magic*  73  240.7  40.4  86.9  0.465  12.2  33.6
 5    6.0      Philadelphia 76ers*  73  241.0  39.8  86.0  0.463  10.4  29.4
 6    7.0   Oklahoma City Thunder*  72  242.1  40.8  89.6  0.455  11.3  33.3
 7    8.0         Milwaukee Bucks*  73  241.0  38.9  94.0  0.414  14.0  39.3
 8    9.0               Utah Jazz*  72  241.0  40.7  89.1  0.457  11.0  31.0
 9   10.0              Miami Heat*  73  243.1  38.8  86.7  0.448  13.1  37.7
 10  11.0          Denver Nuggets*  73  243.1  40.0  86.5  0.463  12.1  33.9
 11  12.0        Charlotte Hornets  65  242.3  41.7  87.5  0.476  12.4  35.1
 12  13.0    Los Angeles Clippers*  72  241.4  39.5  90.2  0.438  12.3  35.6
 13  14.0            Chicago Bulls  65  241.2  39.5  82.5  0.479  11.2  31.6
 14  15.0          Detroit Pistons  66  241.9  41.9  87.3  0.480  10.7  29.6
 15  16.0         Sacramento Kings  72  242.4  40.3  85.5  0.471  12.4  34.8
 16  17.0        Dallas Mavericks*  75  242.3  41.9  91.6  0.458  12.3  34.9
 17  18.0           Brooklyn Nets*  72  242.8  41.4  92.9  0.446  12.2  34.8
 18  19.0          New York Knicks  66  241.9  39.9  86.0  0.463  13.3  34.9
 19  20.0             Phoenix Suns  73  241.0  41.2  87.4  0.472  11.6  32.0
 20  21.0        Memphis Grizzlies  73  240.7  40.6  90.3  0.450  12.9  35.3
 21  22.0         Houston Rockets*  72  241.4  42.3  91.5  0.462  12.2  35.0
 22  23.0      Cleveland Cavaliers  65  241.9  43.9  89.4  0.491  12.4  33.0
 23  24.0    Golden State Warriors  65  241.9  42.2  88.6  0.476  13.5  34.8
 24  25.0        San Antonio Spurs  71  242.5  42.3  90.2  0.469  13.1  35.1
 25  26.0  Portland Trail Blazers*  74  241.0  41.8  91.6  0.456  13.6  35.4
 26  27.0     New Orleans Pelicans  72  242.1  42.7  91.8  0.465  12.2  33.9
 27  28.0   Minnesota Timberwolves  64  243.1  43.1  90.4  0.477  11.6  31.9
 28  29.0       Washington Wizards  72  241.0  43.1  88.4  0.488  12.4  33.1
 29  30.0            Atlanta Hawks  67  243.0  43.3  90.7  0.478  11.9  32.7
 30   NaN           League Average  71  241.8  40.9  88.8  0.460  12.2  34.1

       3P%  ...    FT%   ORB   DRB   TRB   AST  STL  BLK   TOV    PF    PTS
 0   0.337  ...  0.769  10.9  35.1  46.1  25.6  7.2  5.5  16.8  20.4  106.5
 1   0.340  ...  0.767  10.3  34.0  44.3  22.4  7.1  5.5  15.2  20.7  107.3
 2   0.341  ...  0.788  10.4  34.9  45.2  23.1  6.9  4.6  14.7  18.8  107.5
 3   0.349  ...  0.781   9.4  32.9  42.3  23.4  8.2  3.7  15.9  21.7  107.6
 4   0.364  ...  0.771   9.0  35.8  44.9  24.7  7.0  4.6  14.6  19.5  108.3
 5   0.353  ...  0.751   8.6  33.2  41.8  22.8  7.0  4.0  13.8  20.5  108.4
 6   0.340  ...  0.795  10.5  34.3  44.8  23.0  7.0  4.0  14.2  22.8  108.4
 7   0.355  ...  0.787   9.5  36.3  45.8  24.2  7.4  4.5  14.1  21.7  108.6
 8   0.353  ...  0.767   9.6  33.1  42.7  21.5  7.9  4.6  12.3  20.8  108.8
 9   0.347  ...  0.783   9.2  33.3  42.5  24.6  7.5  4.1  14.0  21.7  109.1
 10  0.358  ...  0.759  10.1  32.6  42.6  25.4  7.2  4.4  14.3  20.5  109.2
 11  0.352  ...  0.758  10.9  35.0  46.0  26.6  8.0  5.0  14.4  20.6  109.6
 12  0.345  ...  0.756  10.7  34.6  45.3  23.7  7.5  4.7  14.1  22.9  109.9
 13  0.353  ...  0.759  10.2  35.4  45.5  25.4  8.2  5.9  18.3  19.2  109.9
 14  0.361  ...  0.777  10.1  33.4  43.5  24.6  8.2  5.6  14.0  19.8  110.8
 15  0.357  ...  0.790   9.1  34.5  43.5  24.9  7.7  4.2  15.2  19.5  112.1
 16  0.351  ...  0.760  10.4  35.0  45.4  23.9  7.0  4.1  11.9  21.3  112.1
 17  0.350  ...  0.769  10.6  35.3  45.9  22.6  7.7  5.3  12.8  21.1  112.3
 18  0.381  ...  0.749   9.6  34.6  44.2  24.3  7.2  5.0  13.7  19.8  112.3
 19  0.363  ...  0.788   9.1  34.2  43.3  23.6  7.9  5.5  15.6  22.6  113.4
 20  0.365  ...  0.782  10.4  34.5  44.9  24.8  8.0  5.3  14.8  20.2  113.7
 21  0.349  ...  0.761  11.2  36.7  47.9  25.3  8.0  4.9  16.2  21.0  114.8
 22  0.375  ...  0.767   9.7  33.1  42.9  26.1  9.4  6.3  13.0  19.6  114.8
 23  0.389  ...  0.783  10.2  36.3  46.5  26.1  8.2  4.9  15.6  20.1  115.0
 24  0.373  ...  0.777   9.4  35.9  45.3  25.7  6.8  4.3  13.2  20.1  115.2
 25  0.383  ...  0.771  11.5  35.4  46.9  24.9  6.8  4.9  12.9  20.1  116.1
 26  0.361  ...  0.789  10.1  34.7  44.8  24.5  8.5  4.8  14.5  21.1  117.1
 27  0.363  ...  0.783  10.1  37.2  47.3  24.4  7.8  5.5  15.5  21.6  117.5
 28  0.376  ...  0.778  10.5  35.7  46.2  25.2  7.5  5.0  16.2  22.2  119.1
 29  0.363  ...  0.772  11.2  35.9  47.0  25.0  9.0  6.4  15.0  21.0  119.7
 30  0.358  ...  0.773  10.1  34.8  44.8  24.4  7.6  4.9  14.5  20.8  111.8

 [31 rows x 25 columns],
       Rk                     Team   G     MP    FG   FGA    FG%    3P   3PA  \
 0    1.0        Dallas Mavericks*  75  18175  3124  6772  0.461  1136  3095
 1    2.0         Milwaukee Bucks*  73  17595  3160  6638  0.476  1007  2840
 2    3.0  Portland Trail Blazers*  74  17835  3122  6749  0.463   952  2525
 3    4.0         Houston Rockets*  72  17380  2936  6512  0.451  1126  3261
 4    5.0    Los Angeles Clippers*  72  17380  2992  6425  0.466   895  2410
 5    6.0     New Orleans Pelicans  72  17430  3065  6598  0.465   982  2656
 6    7.0             Phoenix Suns  73  17595  3006  6429  0.468   831  2320
 7    8.0       Washington Wizards  72  17355  2990  6544  0.457   864  2345
 8    9.0        Memphis Grizzlies  73  17570  3106  6634  0.468   798  2297
 9   10.0          Boston Celtics*  72  17430  2971  6448  0.461   905  2487
 10  11.0              Miami Heat*  73  17745  2880  6160  0.468   979  2584
 11  12.0          Denver Nuggets*  73  17745  3069  6488  0.473   801  2234
 12  13.0         Toronto Raptors*  72  17380  2897  6331  0.458   995  2663
 13  14.0        San Antonio Spurs  71  17215  2995  6350  0.472   760  2021
 14  15.0      Philadelphia 76ers*  73  17595  3000  6417  0.468   848  2307

In [7]:
len(df)

13

In [11]:
df[3].dtypes

Western Conference    object
W                     object
L                     object
W/L%                  object
GB                    object
PS/G                  object
PA/G                  object
SRS                   object
dtype: object

In [10]:
# tables on page are numbered zero based
df[3]

,Western Conference,W,L,W/L%,GB,PS/G,PA/G,SRS
0,Northwest Division,Northwest Division,Northwest Division,Northwest Division,Northwest Division,Northwest Division,Northwest Division,Northwest Division
1,Denver Nuggets*,46,27,.630,—,111.3,109.2,2.35
2,Oklahoma City Thunder*,44,28,.611,1.5,110.4,108.4,2.33
3,Utah Jazz*,44,28,.611,1.5,111.3,108.8,2.52
4,Portland Trail Blazers*,35,39,.473,11.5,115.0,116.1,-0.61
5,Minnesota Timberwolves,19,45,.297,22.5,113.3,117.5,-4.02
6,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division
7,Los Angeles Lakers*,52,19,.732,—,113.4,107.6,6.28
8,Los Angeles Clippers*,49,23,.681,3.5,116.3,109.9,6.66
9,Phoenix Suns,34,39,.466,19.0,113.6,113.4,0.56
10,Sacramento Kings,31,41,.431,21.5,110.1,112.1,-1.59
11,Golden State Warriors,15,50,.231,34.0,106.3,115.0,-8.12
12,Southwest Division,Southwest Division,Southwest Division,Southwest Division,Southwest Division,Southwest Division,Southwest Division,Southwest Division
13,Houston Rockets*,44,28,.611,—,117.8,114.8,3.13
14,Dallas Mavericks*,43,32,.573,2.5,117.0,112.1,4.87
15,Memphis Grizzlies,34,39,.466,10.5,112.6,113.7,-0.91
16,San Antonio Spurs,32,39,.451,11.5,114.1,115.2,-0.65
17,New Orleans Pelicans,30,42,.417,14.0,115.8,117.1,-0.55

In [12]:
temp_df = df[3]

In [17]:
df_west = temp_df[~temp_df["W"].str.contains("Division")]

In [18]:
df_west

         Western Conference   W   L  W/L%    GB   PS/G   PA/G    SRS
1           Denver Nuggets*  46  27  .630     —  111.3  109.2   2.35
2    Oklahoma City Thunder*  44  28  .611   1.5  110.4  108.4   2.33
3                Utah Jazz*  44  28  .611   1.5  111.3  108.8   2.52
4   Portland Trail Blazers*  35  39  .473  11.5  115.0  116.1  -0.61
5    Minnesota Timberwolves  19  45  .297  22.5  113.3  117.5  -4.02
7       Los Angeles Lakers*  52  19  .732     —  113.4  107.6   6.28
8     Los Angeles Clippers*  49  23  .681   3.5  116.3  109.9   6.66
9              Phoenix Suns  34  39  .466  19.0  113.6  113.4   0.56
10         Sacramento Kings  31  41  .431  21.5  110.1  112.1  -1.59
11    Golden State Warriors  15  50  .231  34.0  106.3  115.0  -8.12
13         Houston Rockets*  44  28  .611     —  117.8  114.8   3.13
14        Dallas Mavericks*  43  32  .573   2.5  117.0  112.1   4.87
15        Memphis Grizzlies  34  39  .466  10.5  112.6  113.7  -0.91
16        San Antonio Spurs  32  39  .451  11.5  114.1  115.2  -0.65
17     New Orleans Pelicans  30  42  .417  14.0  115.8  117.1  -0.55

In [20]:
df_west.dtypes

Western Conference    object
W                     object
L                     object
W/L%                  object
GB                    object
PS/G                  object
PA/G                  object
SRS                   object
dtype: object

In [ ]:
# Next part. Example Premier League

In [32]:
# url1 = "https://en.wikipedia.org/wiki/Premier_League"
# The structure of Wikipedia site has changed, so I'll pull the table from a referenced page
url1 = "https://en.wikipedia.org/wiki/List_of_English_football_champions"

In [33]:
df = pd.read_html(url1, header = 0)

In [34]:
df

[                            English League (1st tier)
 0   Football League (1888–1892)Football League Fir...
 1                                             Country
 2                                             England
 3                                             Founded
 4                                                1888
 5                                     Number of teams
 6                           20 (since 1995–96 season)
 7                                   Current champions
 8                           Manchester City (2020–21)
 9                                Most successful club
 10               Manchester United (20 championships),
     Season Champions (number of titles)         Runners-up  \
 0  1888–89      Preston North End[a][b]        Aston Villa
 1  1889–90        Preston North End (2)            Everton
 2  1890–91                      Everton  Preston North End
 3  1891–92                   Sunderland  Preston North End

                Third place                     Winning manager
 0  Wolverhampton Wanderers  William Sudell (secretary manager)
 1         Blackburn Rovers  William Sudell (secretary manager)
 2             Notts County   Dick Molyneux (secretary manager)
 3         Bolton Wanderers                          Tom Watson  ,
      Season Champions (number of titles)         Runners-up  \
 0   1892–93               Sunderland (2)  Preston North End
 1   1893–94                  Aston Villa         Sunderland
 2   1894–95               Sunderland (3)            Everton
 3   1895–96              Aston Villa (2)       Derby County
 4   1896–97           Aston Villa[b] (3)   Sheffield United
 ..      ...                          ...                ...
 86  1987–88               Liverpool (17)  Manchester United
 87  1988–89                  Arsenal (9)          Liverpool
 88  1989–90               Liverpool (18)        Aston Villa
 89  1990–91                 Arsenal (10)          Liverpool
 90  1991–92             Leeds United (3)  Manchester United

             Third place   Winning manager Unnamed: 5 Unnamed: 6
 0               Everton        Tom Watson        NaN        NaN
 1          Derby County     George Ramsay        NaN        NaN
 2           Aston Villa        Tom Watson        NaN        NaN
 3               Everton     George Ramsay        NaN        NaN
 4          Derby County     George Ramsay        NaN        NaN
 ..                  ...               ...        ...        ...
 86    Nottingham Forest    Kenny Dalglish        NaN        NaN
 87    Nottingham Forest     George Graham        NaN        NaN
 88    Tottenham Hotspur    Kenny Dalglish        NaN        NaN
 89       Crystal Palace     George Graham        NaN        NaN
 90  Sheffield Wednesday  Howard Wilkinson        NaN        NaN

 [91 rows x 7 columns],
        Season Champions (number of titles)         Runners-up  \
 0     1992–93        Manchester United (8)        Aston Villa
 1     1993–94     Manchester United[b] (9)   Blackburn Rovers
 2     1994–95         Blackburn Rovers (3)  Manchester United
 3     1995–96    Manchester United[b] (10)   Newcastle United
 4     1996–97       Manchester United (11)   Newcastle United
 5     1997–98              Arsenal[b] (11)  Manchester United
 6     1998–99    Manchester United[i] (12)            Arsenal
 7   1999–2000       Manchester United (13)            Arsenal
 8     2000–01       Manchester United (14)            Arsenal
 9     2001–02              Arsenal[b] (12)          Liverpool
 10    2002–03       Manchester United (15)            Arsenal
 11    2003–04              Arsenal[a] (13)            Chelsea
 12    2004–05               Chelsea[f] (2)            Arsenal
 13    2005–06                  Chelsea (3)  Manchester United
 14    2006–07       Manchester United (16)            Chelsea
 15    2007–08    Manchester United[e] (17)            Chelsea
 16    2008–09    Manchester United[f] (18)          Liverpool
 17    2009–10               Chelsea[b] (4)  Manchester United
 18    2010–11       Manchester United (19)            Chelsea
 19    2011–12          Manchester City (3)  Manchester United
 20    2012–13       Manchester United (20)    Manchester City
 21    2013–14       Manchester City[f] (4)          Liverpool
 22    2014–15               Chelsea[f] (5)    Manchester City
 23    2015–16               Leicester City            Arsenal
 24    2016–17                  Chelsea (6)  Tottenham Hotspur
 25    2017–18       Manchester City[f] (5)  Manchester United
 26    2018–19       Manchester City[j] (6)          Liverpool
 27    2019–20               Liverpool (19)    Manchester City
 28    2020–21       Manchester City[f] (7)  Manchester United

           Third place    Winning manager
 0        Norwich City      Alex Ferguson
 1    Newcastle United      Alex Ferguson
 2   Nottingham Forest     Kenny Dalglish
 3           Liverpool      Alex Ferguson
 4             Arsenal      Alex Ferguson
 5           Liverpool      Arsène Wenger
 6             Chelsea      Alex Ferguson
 7        Leeds United      Alex Ferguson
 8           Liverpool      Alex Ferguson
 9   Manchester United      Arsène Wenger
 10   Newcastle United      Alex Ferguson
 11  Manchester United      Arsène Wenger
 12  Manchester United      José Mourinho
 13          Liverpool      José Mourinho
 14          Liverpool      Alex Ferguson
 15            Arsenal      Alex Ferguson
 16            Chelsea      Alex Ferguson
 17            Arsenal    Carlo Ancelotti
 18    Manchester City      Alex Ferguson
 19            Arsenal    Roberto Mancini
 20            Chelsea      Alex Ferguson
 21            Chelsea  Manuel Pellegrini
 22            Arsenal      José Mourinho
 23  Tottenham Hotspur    Claudio Ranieri
 24    Manchester City      Antonio Conte
 25  Tottenham Hotspur      Pep Guardiola
 26            Chelsea      Pep Guardiola
 27  Manchester United       Jürgen Klopp
 28          Liverpool      Pep Guardiola  ,
     Rank                     Club  Winners  Runners-up  \
 0      1        Manchester United       20          17
 1      2                Liverpool       19          14
 2      3                  Arsenal       13           9
 3      4                  Everton        9           7
 4      5              Aston Villa        7          10
 5      5          Manchester City        7           5
 6      7               Sunderland        6           5
 7      7                  Chelsea        6           4
 8      9         Newcastle United        4           2
 9      9      Sheffield Wednesday        4           1
 10    11  Wolverhampton Wanderers        3           5
 11    11             Leeds United        3           5
 12    11        Huddersfield Town        3           3
 13    11         Blackburn Rovers        3           1
 14    15        Preston North End        2           6
 15    15        Tottenham Hotspur        2           5
 16    15             Derby County        2           3
 17    15                  Burnley        2           2
 18    15               Portsmouth        2           0
 19    20         Sheffield United        1           2
 20    20     West Bromwich Albion        1           2
 21    20             Ipswich Town        1           2
 22    20        Nottingham Forest        1           2
 23    20           Leicester City        1           1

                                       Winning seasons
 0   1907–08, 1910–11, 1951–52, 1955–56, 1956–57, 1...
 1   1900–01, 1905–06, 1921–22, 1922–23, 1946–47, 1...
 2   1930–31, 1932–33, 1933–34, 1934–35, 1937–38, 1...
 3   1890–91, 1914–15, 1927–28, 1931–32, 1938–39, 1...
 4   1893–94, 1895–96, 1896–97, 1898–99, 1899–1900,...
 5   1936–37, 1967–68, 2011-12, 2013–14, 2017–18, 2...
 6   1891–92, 1892–93, 1894–95, 1901–02, 1912–13, 1...
 7   1954–55, 2004–05, 2005–06, 2009–10, 2014–15, 2...
 8                  1904–05, 1906–07, 1908–09, 1926–27
 9                  1902–03, 1903–04, 1928–29, 1929–30
 10                          1953–54, 1957–58, 1958–59
 11                          1968–69, 1973–74, 1991–92
 12                          1923–24, 1924–25, 1925–26
 13                          1911–12, 1913–14, 1994–95
 14                                   1888–89, 1889–90
 15                                   1950–51, 1960–61
 16                                   1971–72, 1974–75
 17                                   1920–21, 1959–60
 18                                   1948–49, 1949–50
 19                                            1897–98
 20                                            1919–20
 21                                            1961–62
 22                                            1977–78
 23                                            2015–16  ,
           Region  Championships  \
 0     North West             62
 1         London             21
 2      Yorkshire             11
 3  West Midlands             11
 4     North East             10
 5  East Midlands              4
 6     South East              2
 7           East              1
 8     South West              0
 9          Wales              0

                                                Clubs
 0  Manchester United (20), Liverpool (19), Everto...
 1   Arsenal (13), Chelsea (6), Tottenham Hotspur (2)
 2  Sheffield Wednesday (4), Huddersfield Town (3)...
 3  Aston Villa (7), Wolverhampton Wanderers (3), ...
 4               Sunderland (6), Newcastle United (4)
 5  Derby County (2), Leicester City (1), Nottingh...
 6                                     Portsmouth (2)
 7                                   Ipswich Town (1)
 8                                                NaN
 9                                                NaN  ,
       City / Town  Championships  \
 0       Liverpool             28
 1      Manchester             27
 2          London             21
 3      Birmingham              7
 4      Sunderland              6
 5       Sheffield              5
 6       Newcastle              4
 7       Blackburn              3
 8    Huddersfield              3
 9           Leeds              3
 10  Wolverhampton              3
 11        Burnley              2
 12          Derby              2
 13     Portsmouth              2
 14        Preston              2
 15        Ipswich              1
 16      Leicester              1
 17     Nottingham              1
 18  West Bromwich              1

                                                Clubs
 0                        Liverpool (19), Everton (9)
 1        Manchester United (20), Manchester City (7)
 2   Arsenal (13), Chelsea (6), Tottenham Hotspur (2)
 3                                    Aston Villa (7)
 4                                     Sunderland (6)
 5      Sheffield Wednesday (4), Sheffield United (1)
 6                               Newcastle United (4)
 7                               Blackburn Rovers (3)
 8                              Huddersfield Town (3)
 9                                   Leeds United (3)
 10                       Wolverhampton Wanderers (3)
 11                                       Burnley (2)
 12                                  Derby County (2)
 13                                    Portsmouth (2)
 14                             Preston North End (2)
 15                                  Ipswich Town (1)
 16                                Leicester City (1)
 17                             Nottingham Forest (1)
 18                          West Bromwich Albion (1)  ,
 Empty DataFrame
 Columns: [.mw-parser-output .locmap .od{position:absolute}.mw-parser-output .locmap .id{position:absolute;line-height:0}.mw-parser-output .locmap .l0{font-size:0;position:absolute}.mw-parser-output .locmap .pv{line-height:110%;position:absolute;text-align:center}.mw-parser-output .locmap .pl{line-height:110%;position:absolute;top:-0.75em;text-align:right}.mw-parser-output .locmap .pr{line-height:110%;position:absolute;top:-0.75em;text-align:left}.mw-parser-output .locmap .pv>div{display:inline;padding:1px}.mw-parser-output .locmap .pl>div{display:inline;padding:1px;float:right}.mw-parser-output .locmap .pr>div{display:inline;padding:1px;float:left}Blackburn RoversBurnleyDerby CountyEvertonHuddersfield TownIpswich TownLeeds UnitedLeicester CityLiverpoolNewcastle UnitedNottingham ForestPortsmouthPreston North EndSheffield UnitedSheffield WednesdaySunderlandLondon (3)Manchester (2)West Midlands (3)class=notpageimage| Location of English football champions, Manchester CityManchester Unitedclass=notpageimage| Greater Manchester Aston VillaWest Bromwich AlbionWolverhampton Wanderersclass=notpageimage| West Midlands ArsenalChelseaTottenham Hotspurclass=notpageimage| Greater London]
 Index: [],
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteLists of national association football champions of Europe (UEFA)  \
 0                                             Active
 1                                            Defunct

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteLists of national association football champions of Europe (UEFA).1
 0  Albania Andorra Armenia Austria Azerbaijan Bel...
 1  Czechoslovakia East Germany Soviet Union Yugos...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ]

In [35]:
len(df)

9

In [36]:
df[3]

,Season,Champions (number of titles),Runners-up,Third place,Winning manager
0,1992–93,Manchester United (8),Aston Villa,Norwich City,Alex Ferguson
1,1993–94,Manchester United[b] (9),Blackburn Rovers,Newcastle United,Alex Ferguson
2,1994–95,Blackburn Rovers (3),Manchester United,Nottingham Forest,Kenny Dalglish
3,1995–96,Manchester United[b] (10),Newcastle United,Liverpool,Alex Ferguson
4,1996–97,Manchester United (11),Newcastle United,Arsenal,Alex Ferguson
5,1997–98,Arsenal[b] (11),Manchester United,Liverpool,Arsène Wenger
6,1998–99,Manchester United[i] (12),Arsenal,Chelsea,Alex Ferguson
7,1999–2000,Manchester United (13),Arsenal,Leeds United,Alex Ferguson
8,2000–01,Manchester United (14),Arsenal,Liverpool,Alex Ferguson
9,2001–02,Arsenal[b] (12),Liverpool,Manchester United,Arsène Wenger
10,2002–03,Manchester United (15),Arsenal,Newcastle United,Alex Ferguson
11,2003–04,Arsenal[a] (13),Chelsea,Manchester United,Arsène Wenger
12,2004–05,Chelsea[f] (2),Arsenal,Manchester United,José Mourinho
13,2005–06,Chelsea (3),Manchester United,Liverpool,José Mourinho
14,2006–07,Manchester United (16),Chelsea,Liverpool,Alex Ferguson
15,2007–08,Manchester United[e] (17),Chelsea,Arsenal,Alex Ferguson
16,2008–09,Manchester United[f] (18),Liverpool,Chelsea,Alex Ferguson
17,2009–10,Chelsea[b] (4),Manchester United,Arsenal,Carlo Ancelotti
18,2010–11,Manchester United (19),Chelsea,Manchester City,Alex Ferguson
19,2011–12,Manchester City (3),Manchester United,Arsenal,Roberto Mancini
20,2012–13,Manchester United (20),Manchester City,Chelsea,Alex Ferguson
21,2013–14,Manchester City[f] (4),Liverpool,Chelsea,Manuel Pellegrini
22,2014–15,Chelsea[f] (5),Manchester City,Arsenal,José Mourinho
23,2015–16,Leicester City,Arsenal,Tottenham Hotspur,Claudio Ranieri
24,2016–17,Chelsea (6),Tottenham Hotspur,Manchester City,Antonio Conte
25,2017–18,Manchester City[f] (5),Manchester United,Tottenham Hotspur,Pep Guardiola
26,2018–19,Manchester City[j] (6),Liverpool,Chelsea,Pep Guardiola
27,2019–20,Liverpool (19),Manchester City,Manchester United,Jürgen Klopp
28,2020–21,Manchester City[f] (7),Manchester United,Liverpool,Pep Guardiola

In [37]:
# with the example given from the course it needs three tables to be combined that we don't have to do anymore
# the combination happens vertically (axis = 0) 
# df_champ = pd.concat(df[4], df[5], df[6], axis = 0)
df_champ = df[3]

In [38]:
df_champ

,Season,Champions (number of titles),Runners-up,Third place,Winning manager
0,1992–93,Manchester United (8),Aston Villa,Norwich City,Alex Ferguson
1,1993–94,Manchester United[b] (9),Blackburn Rovers,Newcastle United,Alex Ferguson
2,1994–95,Blackburn Rovers (3),Manchester United,Nottingham Forest,Kenny Dalglish
3,1995–96,Manchester United[b] (10),Newcastle United,Liverpool,Alex Ferguson
4,1996–97,Manchester United (11),Newcastle United,Arsenal,Alex Ferguson
5,1997–98,Arsenal[b] (11),Manchester United,Liverpool,Arsène Wenger
6,1998–99,Manchester United[i] (12),Arsenal,Chelsea,Alex Ferguson
7,1999–2000,Manchester United (13),Arsenal,Leeds United,Alex Ferguson
8,2000–01,Manchester United (14),Arsenal,Liverpool,Alex Ferguson
9,2001–02,Arsenal[b] (12),Liverpool,Manchester United,Arsène Wenger
10,2002–03,Manchester United (15),Arsenal,Newcastle United,Alex Ferguson
11,2003–04,Arsenal[a] (13),Chelsea,Manchester United,Arsène Wenger
12,2004–05,Chelsea[f] (2),Arsenal,Manchester United,José Mourinho
13,2005–06,Chelsea (3),Manchester United,Liverpool,José Mourinho
14,2006–07,Manchester United (16),Chelsea,Liverpool,Alex Ferguson
15,2007–08,Manchester United[e] (17),Chelsea,Arsenal,Alex Ferguson
16,2008–09,Manchester United[f] (18),Liverpool,Chelsea,Alex Ferguson
17,2009–10,Chelsea[b] (4),Manchester United,Arsenal,Carlo Ancelotti
18,2010–11,Manchester United (19),Chelsea,Manchester City,Alex Ferguson
19,2011–12,Manchester City (3),Manchester United,Arsenal,Roberto Mancini
20,2012–13,Manchester United (20),Manchester City,Chelsea,Alex Ferguson
21,2013–14,Manchester City[f] (4),Liverpool,Chelsea,Manuel Pellegrini
22,2014–15,Chelsea[f] (5),Manchester City,Arsenal,José Mourinho
23,2015–16,Leicester City,Arsenal,Tottenham Hotspur,Claudio Ranieri
24,2016–17,Chelsea (6),Tottenham Hotspur,Manchester City,Antonio Conte
25,2017–18,Manchester City[f] (5),Manchester United,Tottenham Hotspur,Pep Guardiola
26,2018–19,Manchester City[j] (6),Liverpool,Chelsea,Pep Guardiola
27,2019–20,Liverpool (19),Manchester City,Manchester United,Jürgen Klopp
28,2020–21,Manchester City[f] (7),Manchester United,Liverpool,Pep Guardiola

In [41]:
df_champ["Runners-up"].value_counts()

Manchester United    7
Arsenal              6
Liverpool            4
Chelsea              4
Manchester City      3
Newcastle United     2
Aston Villa          1
Blackburn Rovers     1
Tottenham Hotspur    1
Name: Runners-up, dtype: int64

In [42]:
# imports
import pandas as pd
import numpy as np

In [ ]:
## Back to basketball example

In [43]:
url = "https://www.basketball-reference.com/leagues/NBA_2020.html"

df = pd.read_html(url, header = 0)

temp_df = df[3]

df_west = temp_df[~temp_df["W"].str.contains("Division")]

In [47]:
df_west.columns

Index(['Western Conference', 'W', 'L', 'W/L%', 'GB', 'PS/G', 'PA/G', 'SRS'], dtype='object')

In [49]:
from pandas.core.tools.numeric import to_numeric
df_west[['W', 'L', 'W/L%', 'GB', 'PS/G', 'PA/G', 'SRS']] = df_west[['W', 'L', 'W/L%', 'GB', 'PS/G', 'PA/G', 'SRS']].apply(to_numeric, errors = "coerce")

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [51]:
df_west.dtypes

Western Conference     object
W                       int64
L                       int64
W/L%                  float64
GB                    float64
PS/G                  float64
PA/G                  float64
SRS                   float64
dtype: object

In [52]:
# in course it's mentioned that copying it over an intermediate data frame would avoid the earning
# sadly that's not working
# df_west1 = df_west.copy()
# df_west[['W', 'L', 'W/L%', 'GB', 'PS/G', 'PA/G', 'SRS']] = df_west1[['W', 'L', 'W/L%', 'GB', 'PS/G', 'PA/G', 'SRS']].apply(to_numeric, errors = "coerce")

In [54]:
# mean of column W (wins)
df_west["W"].mean()

36.8

In [55]:
# median of column W (wins)
df_west["W"].median()

35.0

In [56]:
# std. deviation of column W (wins)
df_west["W"].std()

10.597843446394446

In [57]:
# variance of column W (wins)
df_west["W"].var()

112.31428571428572

In [58]:
# perform some basic statistics on column W (wins)
df_west["W"].describe()

count    15.000000
mean     36.800000
std      10.597843
min      15.000000
25%      31.500000
50%      35.000000
75%      44.000000
max      52.000000
Name: W, dtype: float64

In [60]:
# perform some basic statistics on dataframe West
df_west.describe()

,W,L,W/L%,GB,PS/G,PA/G,SRS
count,15.000000,15.000000,15.000000,12.000000,15.000000,15.000000,15.000000
mean,36.800000,34.600000,0.512067,12.791667,113.220000,112.726667,0.816667
std,10.597843,8.830143,0.139963,10.071242,3.033904,3.294035,3.886489
min,15.000000,19.000000,0.231000,1.500000,106.300000,107.600000,-8.120000
25%,31.500000,28.000000,0.441000,3.250000,111.300000,109.550000,-0.780000
50%,35.000000,39.000000,0.473000,11.500000,113.400000,113.400000,0.560000
75%,44.000000,40.000000,0.611000,19.625000,115.400000,115.100000,2.825000
max,52.000000,50.000000,0.732000,34.000000,117.800000,117.500000,6.660000